@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Flawless Feedback survey creator</h1>
    <p>Learn about the platfrom by visiting our <a asp-area="" asp-controller="Home" asp-action="FAQ"><strong>FAQ</strong> page</a>.</p>
</div>