@model FlawlessFeedbackFE.Models.UserInfo

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center" style="padding: 100px 0px 10px 0px">
    <div class="col-md-4 align-items-center">
        <form asp-action="Login">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" onfocus="this.placeholder=''" type="email" class="form-control" placeholder="name@example.com" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPass" class="control-label"></label>
                <input asp-for="UserPass" onfocus="this.placeholder=''" type="password" class="form-control" placeholder="Password_123" />
                <span asp-validation-for="UserPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}