<div>
    <!-- Create a reference to the chart.js library-->
    <script src="~/lib/Chart.js/chart.js"></script>

    <!-- Adds a HTML canvas which can be dynamically drawn on -->
    <div><canvas id="barchart"></canvas></div>

    <!-- Retrieve the chart object from ViewDAta -- Casting it to the correct type as it is removed -->
    @{ ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"];}

    <!-- Use the CreateChartCode method on the chart object to output the raw javascript to the barchar element -->
    <script>
    @Html.Raw(chart.CreateChartCode("barchart"))
    </script>

    <a asp-action="ExportCSV" class="btn btn-danger">Export to CSV</a>
</div>